{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	{{ pageName }}
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/members.css"/>
{% endblock %}
{% block content %}
	<section class="py-3 py-md-5 py-xl-8">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h1 class="fs-6 text-secondary mb-2 text-uppercase text-center">Rogue One Dev</h1>
					<p class="display-5 mb-4 mb-md-5 text-center">Redéfinir et repousser les limites de l'impossible</p>
					<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
				</div>
			</div>
		</div>
		<div class="container overflow-hidden">
			<div class="row ">
				{% for members in member %}
					<div class="col-lg-12 col-md-4">
						<div class="card-box text-center">
							<div class="user-pic">
								<img src=" {{members.IMG}}" class="img-fluid" alt="User Pic">
							</div>
							<h1>{{ members.FIRSTNAME}}</h1>
							<h2>{{ members.LASTNAME}}</h2>
							<span>{{ members.ROLE}}</span>
							<hr>
							<p>{{members.DESCRIPTION}}</p>
							<hr>
							<a href="{{members.LINK}}" target="_blank" class="btn">Voir LinkedIn</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}