<nav class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <ul class="info">
                    <li><i class="fa fa-envelope"></i>mocktails-celestes.fr</li>
                    <li>
                        <i class="fa fa-map"></i>
                        <a
                            href="../assets/pdf/catalogue_mocktails_tchwizin-kreyol.pdf"
                            target="_blank"
                            >Télécharger le catalogue</a
                        >
                    </li>
                </ul>
            </div>
            <div class="social col-lg-4 col-md-4">
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="{{ path('app_home') }}" class="logo">
                        <h1>Mocktail</h1>
                    </a>

                    <ul class="nav" id="menu">
                        <li>
                            <a href="{{ path('app_home') }}" class="active"
                                >Accueil</a
                            >
                        </li>
                        <li>
                            <a href="{{ path('app_mocktail_index') }}"
                                >Nos Mocktails</a
                            >
                        </li>
                        <li>
                            <a href="{{ path('app_contact') }}"
                                >Nous contacter</a
                            >
                        </li>
                        <li>
                            <a href="{{ path('app_about_us') }}">A propos</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
