{% extends 'base.html.twig' %} {% block title %}
{{ parent() }}
{{ mocktail.name }} - Mocktail Details {% endblock %} {% block stylesheet %}
<link rel="stylesheet" href="assets/styles/pages/mocktail-show.css" />
{% endblock %} {% block content %}
<article class="mocktail-details-section">
    <div class="container">
        <div class="section-heading">
            <a href="/mocktails"> Retour</a>/{{ mocktail.name }}
        </div>
        <section class="mocktail-details section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h1>{{ mocktail.name }}</h1>
                        <h2>Details about {{ mocktail.name }}</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured section">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="left-image">
                        <img
                            src="{{ mocktail.imageUrl }}"
                            alt="{{ mocktail.name }}"
                        />
                    </div>
                </div>
                <aside class="col-lg-6 col-md-12 col-sm-12">
                    <div class="info-table">
                        <ul>
                            <li>
                                <section>
                                    <span
                                        >Description:
                                        {{ mocktail.description }}</span
                                    >
                                </section>
                                <section>
                                    <span
                                        >Ingredients:
                                        {{ mocktail.ingredients }}</span
                                    >
                                </section>
                                <section>
                                    <span
                                        >Preparation:
                                        {{ mocktail.preparation }}</span
                                    >
                                </section>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</article>
{% endblock %}
