{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/mocktail_details.css"/>
{% endblock %}
{% block content %}
	<div class="single-mocktail section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-content"></div>
					<div class="accordion" id="accordionExample">
						{% for faqs in faq %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="{{ faqs.section }}">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ faqs.collapse }}" aria-expanded="true" aria-controls="{{ faqs.collapse }}">
										<strong>{{ faqs.question }}</strong>
									</button>
								</h2>
								<div id="{{ faqs.collapse }}" class="accordion-collapse collapse show" aria-labelledby="{{ faqs.section }}" data-bs-parent="#accordionExample">
									<div class="accordion-body">{{ faqs.response }}</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}